<div class="drone-card"> 
  <div class="drone-container">
    <h2>{{name}}</h2>
      <p>Propellers: {{propellers}}</p>
      <p>MaxSpeed: {{maxSpeed}}</p>
      <a href="/drones/{{_id}}/edit">Edit</a>
      <a href="/drones/{{_id}}/delete">Delete</a>
      {{!-- If the route is router.post then we need to define 
      <form action="/drones/{{_id}}/delete" method="post">
            <button type="submit">Delete drone</button>
      </form>
      --}}
  </div>
</div>
